a {
  color: #100720;
  text-decoration: none;
}

.landing_container,
.signup_container,
.login-container,
.layout-container {
  background-color: rgb(238, 239, 241);
  min-height: 100vh;
}
.landing_wrapper {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  padding: 20px;
}
.L-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #100720;
}
.L-header_left {
  display: flex;
  gap: 20px;
  color: #100720;
  font-weight: 600;
}
.L-header_left .login,
.signup {
  cursor: pointer;
}
.hero {
  display: grid;
  grid-template-columns: 50% 30%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.hero_image {
}
.hero_image img {
  width: 100%;
}
.hero_text h3 {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 1.5px;
}
.hero_text p {
  letter-spacing: 1.2px;
  line-height: 1.2;
}
.why-us_container h3 {
  text-align: center;
  line-height: 5;
  color: #100720;
}

.why-us {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.why-us div {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.why-us_heading {
  color: #100720;
  font-weight: 500;
  font-size: 1.2rem;
}

.L-register {
  display: flex;
  justify-content: center;
  padding: 35px;
}
.L-register_btn a {
  border-bottom: 1px solid #100720;
  cursor: pointer;
  color: #100720;
  font-size: 1.2rem;
  font-weight: 500;
}

/******************************sign IN***********************************************/
.signup_wrapper {
  width: 60%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  padding: 20px;
}
.signup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup_header_right a {
  color: #100720;
  font-weight: 600;
}
.signup_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
.signup_form input {
  padding: 7px;
  outline: none;
  border: none;
  background-color: rgb(246, 246, 246);
  border-radius: 8px;
}
.signup_form input:focus {
  border: 1px solid #100720;
}
.signup_btn {
  margin: 10px;
}
.signup_btn button {
  outline: none;
  border: none;
  background-color: #100720;
  color: white;
  padding: 10px;
  cursor: pointer;
}

/************************Sign up***************************/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 600px;
  background: rgb(217, 217, 217);
  padding: 20px;
  height: fit-content;
}
.login_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.login_login {
  font-size: 500;
  font-size: 1.3rem;
  color: #100720;
}
.login_welcome h3 {
  line-height: 1.4;
  color: #100720;
  font-size: 1.4rem;
}
.login_welcome p {
  color: #100720;
  letter-spacing: 1.2;
}
.login_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;
}
.login_form input {
  padding: 10px;
  outline: none;
  border-color: #100720;
}
.login_btn button {
  outline: none;
  border: none;
  background-color: #100720;
  padding: 15px;
  color: aliceblue;
  margin-top: 30px;
}
.login_alert {
  animation: scaleup 2s;
  display: flex;
  gap: 5px;
}
.login_alert > h3 {
  color: "red";
  text-transform: "uppercase";
}
@keyframes scaleup {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/*********************QUESTIONS LAYOUT COMPONENT****************************/
.layout_wrapper {
  width: 80%;
  margin: auto;
  background-color: white;
  min-height: fit-content;
}
.layout_header {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  align-items: center;

  height: 90px;
  background-color: rgba(245, 245, 245, 0.2);
  padding: 0 30px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.search {
  display: flex;
  align-items: baseline;
}

.search {
  border: 1px solid black;
}
.search_input {
  width: 100%;
}
.search_input input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.search_btn {
  background-color: #100720;
  padding: 11px;
  
}
.layout_logout {
  text-align: right;
}

.layout_body {
  display: grid;
  grid-template-columns: 20% 80%;
}
.layout_aside {
  min-height: 80vh;
  background-color: rgba(240, 248, 255, 0.6);
  padding: 5px;
}
.layout_aside_inner {
  position: sticky;
  top: 0;
  padding: 10px 0;
  display: flex;
  gap: 18px;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2rem;
  color: #100720;
}

.quiz_links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
}

/************************Question list design***************************/
