.landing_container {
  background-color: rgb(238, 239, 241);
}
.landing_wrapper {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  padding: 20px;
}
.L-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #100720;
}
.L-header_left {
  display: flex;
  gap: 20px;
  color: #100720;
  font-weight: 600;
}
.L-header_left .login,
.signup {
  cursor: pointer;
}
.hero {
  display: grid;
  grid-template-columns: 50% 30%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.hero_image {
}
.hero_image img {
  width: 100%;
}
.hero_text h3 {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 1.5px;
}
.hero_text p {
  letter-spacing: 1.2px;
  line-height: 1.2;
}
.why-us_container h3 {
  text-align: center;
  line-height: 5;
  color: #100720;
}

.why-us {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.why-us div {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.why-us_heading {
  color: #100720;
  font-weight: 500;
  font-size: 1.2rem;
}

.L-register {
  display: flex;
  justify-content: center;
  padding: 35px;
}
.L-register_btn span {
  border-bottom: 1px solid #100720;
  cursor: pointer;
  color: #100720;
  font-size: 1.2rem;
  font-weight: 500;
}
