a {
  color: #100720;
  text-decoration: none;
}

.landing_container,
.signup_container,
.login-container,
.layout-container {
  background-color: rgb(238, 239, 241);
  min-height: 100vh;
}
.landing_wrapper {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  padding: 20px;
}
.L-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #100720;
}
.L-header_left {
  display: flex;
  gap: 20px;
  color: #100720;
  font-weight: 600;
}
.L-header_left .login,
.signup {
  cursor: pointer;
}
.hero {
  display: grid;
  grid-template-columns: 50% 30%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.hero_image {
}
.hero_image img {
  width: 100%;
}
.hero_text h3 {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 1.5px;
}
.hero_text p {
  letter-spacing: 1.2px;
  line-height: 1.2;
}
.why-us_container h3 {
  text-align: center;
  line-height: 5;
  color: #100720;
}

.why-us {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.why-us div {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.why-us_heading {
  color: #100720;
  font-weight: 500;
  font-size: 1.2rem;
}

.L-register {
  display: flex;
  justify-content: center;
  padding: 35px;
}
.L-register_btn a {
  border-bottom: 1px solid #100720;
  cursor: pointer;
  color: #100720;
  font-size: 1.2rem;
  font-weight: 500;
}

/******************************sign up***********************************************/

.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_wrapper {
  width: 600px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-height: fit-content;
  padding: 20px;
}
.signup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup_header_right a {
  color: #100720;
  font-weight: 600;
}
.signup_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.signup_form input {
  padding: 9px;
  outline: none;
  background-color: rgb(246, 246, 246);
  border-radius: 4px;
  border: 1px solid #100720;
}

.signup_btn {
  margin: 10px;
}
.signup_btn button {
  outline: none;
  border: none;
  background-color: #100720;
  color: white;
  padding: 10px;
  cursor: pointer;
}

/************************login up***************************/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 600px;
  background: rgb(217, 217, 217);
  padding: 20px;
  min-height: fit-content;
}
.login_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.login_login {
  font-size: 500;
  font-size: 1.3rem;
  color: #100720;
}
.login_welcome h3 {
  line-height: 1.4;
  color: #100720;
  font-size: 1.4rem;
}
.login_welcome p {
  color: #100720;
  letter-spacing: 1.2;
}
.login_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;
}
.login_form input {
  padding: 10px;
  outline: none;
  border-color: #100720;
}
.login_btn button {
  outline: none;
  border: none;
  background-color: #100720;
  padding: 15px;
  color: aliceblue;
  margin-top: 30px;
}
.login_alert {
  animation: scaleup 2s;
  display: flex;
  gap: 5px;
}
.login_alert > h3 {
  color: "red";
  text-transform: "uppercase";
}
@keyframes scaleup {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/*********************QUESTIONS LAYOUT COMPONENT****************************/
.layout_wrapper {
  width: 80%;
  margin: auto;
  background-color: white;
  min-height: fit-content;
}
.layout_header {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  align-items: center;

  height: 90px;
  background-color: rgba(245, 245, 245, 0.2);
  padding: 0 30px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.search {
  display: flex;
  align-items: baseline;
}

.search {
  border: 1px solid black;
}
.search_input {
  width: 100%;
}
.search_input input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.search_btn {
  background-color: #100720;
  padding: 11px;
}
.layout_logout {
  text-align: right;
}

.layout_body {
  display: grid;
  grid-template-columns: 20% 80%;
}
.layout_aside {
  min-height: 80vh;
  background-color: rgba(240, 248, 255, 0.3);
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.layout_aside_inner {
  position: sticky;
  top: 0;
  padding: 10px 0;
  display: flex;
  gap: 18px;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2rem;
  color: #100720;
}

.quiz_links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
}

/************************Question list design***************************/

.list_wrapper {
}
.page_title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-transform: capitalize;
}
.ask_btn {
  background-color: #100720;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.quiz_list {
  padding: 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.quiz_list:hover{
  background-color: rgba(242, 242, 242, .6);
  cursor: pointer;
}
.quiz_list_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 1rem;
}
.quiz_list_details {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
}
.quiz_title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8;
}
.tags {
  display: flex;
  gap: 10px;
}
.tags span {
  background-color: #f2f2f2;
  padding: 0 5px;
  height: 20px;
  text-transform: uppercase;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz_description{
  font-size: 14px;
}
.quiz_creation_details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}
.author_btns, .author{
  display: flex;
  gap: 4px;
  align-items: center;
}

/******************QUESTION******************************/

.question_header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.question_title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
}
.question_creation_details div {
  padding: 10px;
}
.question_description,
.answer_body {
  display: grid;
  grid-template-columns: 10% 90%;
}
.question_text,
.answer_text {
  padding: 10px;
  margin: auto;
}

.question_votes,
.answer_votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answers_header {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.8;
  margin: 10px;
}

/******Answer comment*******/
.answers_list{
  border-bottom: 1px solid rgba(41, 41, 41, .3);
}
.answer_comment_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.comment_header:hover{
  border-bottom:  1px solid #100720;
  cursor: pointer;
}
.add_comment input {
  padding: 10px;
  width: 350px;
}
.add_comment {
  display: flex;
  justify-content: end;

  align-items: center;
}
.comment_btn {
  color: white;
  background-color: #100720;
  padding: 10px;
  cursor: pointer;
}
.answer_comment{
  padding: 20px 100px;
  font-size: .9rem;
  border-top: 1px solid rgba(128, 128, 128, .1);

}
.commentsList ol {


}
/**********ADD COMMENT*********/
.form_answer_container {
  margin: 30px;
}
.form_answer_container h3 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2;
}
.answer_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
textarea {
  width: 90%;
  font-size: 1.3rem;
  padding: 5px;
}
.answer_save_btn button {
  outline: none;
  border: none;
  background-color: #100720;
  padding: 15px;
  color: aliceblue;
  font-size: 1.2rem;
  margin: 30px 50px;
  cursor: pointer;
}
/*****************ask form*/

.question_Form {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  top: 0;
  left: 0;
}
.Q-form {
  width: 50%;
  min-height: 90vh;
  margin: auto;
  background-color: azure;
  padding: 30px;
  border-radius: 10px;
}
.Q-form h3 {
  line-height: 3;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#title,
textarea {
  width: 90%;
}
.form_wrapper input {
  padding: 10px;
}
.Q-form_btns {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.checkboxes {
  display: flex;
  gap: 8px;
}
.checkboxes input {
  height: 30px;
  width: 30px;
  accent-color: #100720;
}

.cancel button,
.save button {
  outline: none;
  border: none;
  padding: 10px;
  background-color: #100720;
  border-radius: 2px;
  color: azure;
  font-size: 1.2rem;
  cursor: pointer;
}
/*************USERS PROFILE***************/
.profile_container {
  padding: 20px;
}
.myquestions_header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.myquestions_header h2 {
  line-height: 2;
  font-size: 1.2rem;
}
.user_data {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.user_data div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #100720;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.stat {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
.order_questions select{
  padding: 8px;
}
select option{
  padding: 8px;
}
