a {
  color: #100720;
  text-decoration: none;
}
.active {
  background-color: rgb(31, 31, 32);
  color: whitesmoke;
  padding: 6px;
  border-radius: 5px;
}
.active a {
  color: whitesmoke;
}

.landing_container,
.signup_container,
.login-container,
.layout-container {
  background-color: rgb(238, 239, 241);
  min-height: 100vh;
}
.landing_wrapper {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  padding: 20px;
}
.L-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.7rem;
  font-weight: 600;
  color: #100720;
}
.L-header_left {
  display: flex;
  gap: 20px;
  color: #100720;
  font-weight: 600;
}
.L-header_left .login,
.signup {
  cursor: pointer;
}
.hero {
  display: grid;
  grid-template-columns: 50% 30%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.hero_image img {
  width: 100%;
}
.hero_text h3 {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 1.5px;
}
.hero_text p {
  letter-spacing: 1.2px;
  line-height: 1.2;
}
.why-us_container h3 {
  text-align: center;
  line-height: 5;
  color: #100720;
}

.why-us {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.why-us div {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 15px;
  margin: 10px;
}
.why-us_heading {
  color: #100720;
  font-weight: 500;
  font-size: 1.2rem;
}

.L-register {
  display: flex;
  justify-content: center;
  padding: 35px;
}
.L-register_btn a {
  border-bottom: 1px solid #100720;
  cursor: pointer;
  color: #100720;
  font-size: 1.2rem;
  font-weight: 500;
}

/******************************sign up***********************************************/

.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_wrapper {
  width: 600px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-height: fit-content;
  padding: 20px;
  border-radius: 5px;
}
.signup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup_header_right a {
  color: #100720;
  font-weight: 600;
}
.signup_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.signup_form input {
  padding: 9px;
  outline: none;
  background-color: rgb(246, 246, 246);
  border-radius: 4px;
  border: 1px solid #100720;
}

.signup_btn {
  margin: 10px;
}
.signup_btn button {
  outline: none;
  border: none;
  background-color: #100720;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/************************login up***************************/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 600px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  min-height: fit-content;
  border-radius: 5px;
}
.login_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.login_login {
  font-size: 500;
  font-size: 1.3rem;
  color: #100720;
}
.login_welcome h3 {
  line-height: 1.4;
  color: #100720;
  font-size: 1.4rem;
}
.login_welcome p {
  color: #100720;
  letter-spacing: 1.2;
}
.login_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;
}
.login_form input {
  padding: 10px;
  outline: none;
  border: 1px solid #100720;
  background-color: rgb(246, 246, 246);
}
.login_btn button {
  outline: none;
  border: none;
  background-color: #100720;
  padding: 15px;
  color: aliceblue;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.login_alert {
  animation: scaleup 2s;
  display: flex;
  gap: 5px;
}
.login_alert > h3 {
  color: "red";
  text-transform: "uppercase";
}
@keyframes scaleup {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.feedbackModal {
  width: 100%;
  height: 60px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(109, 189, 40);
  border-bottom: 2px solid #100720;
  border-top: 2px solid #100720;
  position: sticky;
  top: 0;
}
.feedbackModal span {
  font-size: 1.2rem;
}
.feedbackModalClose {
  font-weight: 900;
  font-size: 1.3rem;
  border: 1px solid #100720;
  padding: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
}
/*********************QUESTIONS LAYOUT COMPONENT****************************/
.layout_wrapper {
  width: 80%;
  margin: auto;
  background-color: white;
  min-height: fit-content;
}
.layout_header {
  display: grid;
  grid-template-columns: 40% 50%;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: rgba(245, 245, 245, 0.2);
  padding: 0 30px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.menu,
.close_icon {
  display: none;
}
.search {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.search {
  border: 1px solid rgb(180, 177, 177);
  border-radius: 5px;
}
.search_input {
  width: 100%;
}
.search_input input {
  padding: 5px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.search_btn {
  background-color: #100720;
  padding: 11px;
}
.logout {
  cursor: pointer;
}

.layout_body {
  display: grid;
  grid-template-columns: 20% 80%;
  /* position: relative; */
}
.layout_aside {
  min-height: 80vh;
  background-color: rgba(240, 248, 255, 0.3);
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.layout_aside_inner {
  position: sticky;
  top: 0;
  padding: 10px 5px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2rem;
  color: #100720;
}

.quiz_links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
  color: white;
}
.order {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 4px;
}

/************************Question list design***************************/

.page_title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-transform: capitalize;
}
.ask_btn {
  background-color: #100720;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.quiz_list {
  padding: 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.quiz_list:hover {
  background-color: rgba(242, 242, 242, 0.8);
}
.quiz_list_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 0.9rem;
}
.quiz_list_details {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
}
.quiz_title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8;
  cursor: pointer;
}
.tags {
  display: flex;
  gap: 10px;
}
.tags span {
  background-color: #f2f2f2;
  padding: 0 5px;
  height: 20px;
  text-transform: uppercase;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz_description {
  font-size: 14px;
  cursor: pointer;
}
.quiz_creation_details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 0.7rem;
}
.author_btns,
.author {
  display: flex;
  gap: 4px;
  align-items: center;
}
.author_btns span {
  cursor: pointer;
}
.listEmpty {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 10%;
}
.listEmpty h2 {
  font-weight: 500;
  font-size: 0.9rem;
}

/******************QUESTION******************************/

.question_header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.question_title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
}
.question_creation_details div {
  padding: 10px;
}
.question_description {
  border-left: 15px solid #b6b4ba;
  border-bottom-left-radius: 4px;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.question_text {
  padding: 10px;
}
.answer_body {
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 15px;
}

.answer_text {
  margin: auto 10px;
}

.answer_votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answers_header {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8;
  margin: 10px;
}
.upvote,
.downvote {
  cursor: pointer;
}

.preferred {
  font-size: 0.7rem;
  background-color: green;
  color: white;
  padding: 2px;
  border-radius: 3px;
}
.prefer {
  cursor: pointer;
}
/******Answer comment*******/
.answers_list {
  border-bottom: 1px solid rgba(209, 206, 206, 0.2);
}
.answer_comment_header {
  display: flex;

  padding: 5px;
  justify-content: center;
  font-size: 0.7rem;
}
.commentsList ul li {
  font-size: 0.8rem;
  padding: 3px 0;
}
.comment_header:hover {
  border-bottom: 1px solid #100720;
  cursor: pointer;
  color: #100720;
}
.add_comment input {
  padding: 10px;
  width: 350px;
}

.commentFormContainer {
  background-color: rgba(64, 62, 67, 0.5);
  min-height: 100%;
 width: 100vw;
  position: absolute;
}
.commentForm {
  position: sticky;
 display: flex;
 justify-content: center;
 top: 40%;
}
.CformHeader{
  margin: 8px 0;
  font-weight: 500;
}

.commentFormInputFields{

  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
.comment_btns{
  display: flex;
  gap: 10px;
}
.comment_btns button{
  outline: none;
  border: none;
  background-color: #100720;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  padding: 7px;
}
.answer_comment {
  padding: 20px 60px;
  font-size: 0.9rem;
}

/**********ADD COMMENT*********/
.form_answer_container {
  margin: 30px;
}
.form_answer_container h3 {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 2;
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  width: 90%;

  padding: 5px;
}
.answer_save_btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.answer_save_btn button {
  outline: none;
  border: none;
  background-color: #100720;
  padding: 8px;
  color: aliceblue;
  font-size: 1.2rem;
  margin: 30px 0px;
  cursor: pointer;
}
/*****************question form***************************/

.question_Form {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  top: 0;
  left: 0;
}
.Q-form {
  width: 50%;
  min-height: 90vh;
  margin: 10% auto;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  position: sticky;
  top: 0;
}
.Q-form h3 {
  line-height: 3;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#title,
textarea {
  width: 90%;
}
.form_wrapper input {
  padding: 10px;
}
.Q-form_btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.checkboxes {
  display: flex;
  gap: 8px;
}
.checkboxes input {
  height: 30px;
  width: 30px;
  accent-color: #100720;
}

.cancel button,
.save button {
  outline: none;
  border: none;
  padding: 10px;
  background-color: #100720;
  border-radius: 2px;
  color: azure;
  font-size: 1.2rem;
  cursor: pointer;
}
/*************USERS PROFILE***************/
.profile_container {
  padding: 20px;
}
.myquestions_header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.myquestions_header h2 {
  line-height: 2;
  font-size: 1.2rem;
}
.user_data {
  display: flex;
  gap: 10px;

  flex-wrap: wrap;
}
.user_data div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #403e43;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  min-width: 200px;
}
.stat {
  font-weight: 700;
  font-size: 1.8rem;
}
.order_questions select {
  padding: 8px;
}
select option {
  padding: 8px;
}

.alert-danger {
  color: rgb(255, 0, 0, 0.8);
  background-color: rgb(255, 0, 0, 0.2);
  padding: 8px 5px;
  font-size: 14px;
  border-radius: 10px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button:disabled {
  opacity: 20%;
  cursor: not-allowed;
}

.loading {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 20%;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(7, 7, 7);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(11, 11, 11) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
