/***********Media queries*****************/
@media only screen and (max-width: 1100px) {
  .layout_wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 850px) {
  .hero {
    grid-template-columns: 100%;
  }
  .hero_image img {
    height: 250px;
  }
  .hero_text h3,
  .why-us_container h3 {
    text-align: center;
    font-weight: 500;
  }
  .hero_text p {
    text-align: center;
  }
  .layout_wrapper {
    width: 95%;
  }

  .menu,
  .layout_logout_side {
    display: block;
  }
  .layout_header {
    grid-template-columns: 10% 30% 50%;
  }

  .layout_aside {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #100720;
    width: 200px;
    z-index: 1;
    display: none;
  }
  .layout_aside_inner a {
    color: white;
  }
  .layout_body {
    grid-template-columns: 100%;
  }
  .quiz_list {
    grid-template-columns: 15% 80%;
  }
  .quiz_list_left {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 650px) {
  .why-us div {
    width: 90%;
  }
  /**********Sign up******************/
  .signup_wrapper {
    width: 90%;
    padding: 10px;
  }
  .signup_form,
  .login-wrapper {
    width: 90%;
  }
  .layout_header {
    padding: 0 10px;
  }
  .quiz_list {
    grid-template-columns: 100%;
  }
  .quiz_list_left {
    flex-direction: row;
  }
  .ask_btn {
    padding: 8px;
  }
  .quiz_list_details {
    flex-direction: column;
  }
  .user_data{
    justify-content: center;
  }
  .user_data div{
    width: 70%;
    height: 200px;
    background: transparent;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .Q-form {
    width: 80%;
  }
}
@media only screen and (max-width: 425px) {
  .logo {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .L-header_left {
    font-size: 0.9rem;
    gap: 7px;
  }
  .L-register_btn {
    font-size: 1rem;
  }
  /**********Sign up******************/
  .signup_form,
  .login-wrapper {
    width: 95%;
  }
  .layout_header {
    grid-template-columns: 15% 80%;

    justify-content: space-between;
    padding: 0 10px;
    height: 70px;
  }
  .layout_header .logo {
    display: none;
  }
  .search_input input {
    padding: 5px;
    font-size: 0.9rem;
    display: none;
  }
  .search_btn {
    padding: 3px;
  }
  .ask_btn span {
    display: none;
  }
  .Q-form {
    width: 95%;
  }
}

/**********Question list page***************/
