/***********Media queries*****************/
@media only screen and (max-width:1200px){


}
@media only screen and (max-width:850px){
   
    .hero{
        grid-template-columns: 100%;
       
    }
    .hero_image img{
        height: 250px;
    }
    .hero_text h3{
        text-align: center;
    }
    .hero_text p{
        text-align: center;
    }
}
@media only screen and (max-width:650px) {
    .why-us div{
        width: 90%;
    }
    
}